<strong>Olá, {{ provider }}</strong>
<p>Sua inscrição foi feita com sucesso no meetup!!</p>
<p>
  <strong>Meetup: </strong>{{ meetup }} <br />
  <strong>Data/Hora: </strong>{{ date }}<br />
  <hr>
  <small>
    Esperamos por você ;)
  </small>
</p>
